@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,400&display=swap');

:root {
  --ff-main: 'Montserrat', sans-serif;

  --clr-neutral-900: #000000;
  --clr-neutral-800: #333333;
  --clr-neutral-200: #f0f0f0;
  --clr-neutral-100: #ffffff;

  --border-radius: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-main);
}

.header-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;

  background: var(--clr-neutral-200);
  color: var(--clr-neutral-800);

  font-weight: 800;

  padding: 1rem;

  img {
    color: (--clr-neutral-800);
    width: 2.5rem;
    aspect-ratio: 1/1;
  }
}
